div{

  margin-top:-20px;
  width:1500px;
  height:50px;
}
body{
  boder:0px;
  text-align: center;
}
p{
  font-size: 20px;
 font-family:cursive;
}
 .header
{
   right:-130px;
    background-color:#A3A847;
  width:1500px;
   color:blue;
   position:fixed;
}
h2{
  color:green;
}
.mm{
  width:300px;
}
#change
{
  border-color:red;
  width:1000px;
}
hr{
  border-color:purple;
  border-style:dotted none none;
  border-width:10px;
  width:80px;
}
.exp
{
  height:130px;
  width:300px;
}
#mani
{
  height:200px;
  width:200px;
}
.study{
  height:100px;
width:300px;
}
.skil
{
  width:300px;
  height:150px;
}
.pers{
  height:150px;
  width:300px;
}
#under
{
  width:700px;
}
.mar{
  background-color: green;
}
